/* ==========================================================================
   Tables
   ========================================================================== */

table{
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 2em;
  overflow-x: scroll;
  display: table;
  border-collapse: collapse;

  &.striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  th {
    font-weight: bold;
    border-bottom: 2px solid;
  }

  td {
    border-bottom: 1px solid;
  }

  th, td {
    padding: 15px 15px;
    text-align: left;
    border-color: #E1E1E1;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
