/* ==========================================================================
   Utilities
   ========================================================================== */

.center{
	text-align: center;
}
.white,
.white a{
	color: white;
}
.block{
	display: block;
}
.inline-block {
	display: inline-block;
}

.has-shadow {
	box-shadow: 0 20px 60px -10px rgba(0,0,0,.2);
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}
