// Brand Colors
@primaryColor: #297afb;
@secondaryColor: #9F56E2;
@linkColor: @primaryColor;

@navBarBgColor: @primaryColor;
@navBarLinkColor: @navBarBgColor;
// Buttons
@buttonPrimaryColor: @primaryColor;
@buttonSecondaryColor: @secondaryColor;
// Alerts
@alertDefaultColor: #5FC546;
@alertSuccessColor: #5FC546;
@alertDangerColor: #FF0046;
@alertWarningColor: #efcb11;
@alertInfoColor: #297afb;
// Switches
@switchColor: @buttonPrimaryColor;
