/* –––––––––––––––––––––––––– Alerts –––––––––––––––––––––––––– */

.alert{
  max-height: none;
  opacity: 1;
  padding: 1em;
  border-radius: 5px;
  background-color: #72c06e;
  color: white;
  margin: 1em 0;
}
.alert.success{
  background-color: #72c06e;
}
.alert.danger{
  background-color: #E24444;
}
.alert.warning{
	  background-color: #ECC321;
}
.alert.info{
	  background-color: #30BAEC;
}
.alert .close{
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  line-height: 5px;
  padding: 0;
  font-size: 10px;
  height: 20px;
  cursor: pointer;
}
.alert .close:before{
content: "x";
color: white;
}
.alert.closed{
}