/* –––––––––––––––––––––––––– Buttons –––––––––––––––––––––––––– */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.primary,
button.primary,
input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.primary:hover,
button.primary:hover,
input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
.button.primary:focus,
button.primary:focus,
input[type="submit"].primary:focus,
input[type="reset"].primary:focus,
input[type="button"].primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

.button.secondary,
button.secondary,
input[type="submit"].secondary,
input[type="reset"].secondary,
input[type="button"].secondary {
  color: #FFF;
  background-color: #9F56E2;
  border-color: #8645F5;
}
.button.secondary:hover,
button.secondary:hover,
input[type="submit"].secondary:hover,
input[type="reset"].secondary:hover,
input[type="button"].secondary:hover,
.button.secondary:focus,
button.secondary:focus,
input[type="submit"].secondary:focus,
input[type="reset"].secondary:focus,
input[type="button"].secondary:focus {
  color: #FFF;
  background-color: #7737A9;
  border-color: #791EDB;
}
.button.white{
  border-color: white;
  color: white;
}
.button.white.primary{
  background-color: #FFF;
  color: #33C3F0;
}
