/* –––––––––––––––––––––––––– Extras –––––––––––––––––––––––––– */

pre, blockquote, dl, figure, table, p, ul, ol, form {
  margin-bottom: 2.5rem;
}
/* box sizing for easy grids and alignment */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* code */
pre{
  background: #f7f7f7;
  border-radius: 3px;
}
code{
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    padding: 20px 30px 30px;
  display: block;
  color: #696969;
  font-size: 14px;
}