@navbarTextColor: #4a4a4a;
@dropdownSpeed: .15s;
@navbarResposniveToggle: @breakpoint-desktop;

.navbar {
  position: relative;
  min-height: 3.25rem;
  align-items: stretch;
  display: flex;

  .navbar-brand{
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    max-width: 100vw;
    min-height: 3.25rem;
  }

  .navbar-item {
    color: @navbarTextColor;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    display: flex;

    img {
      max-height: 1.75rem;
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
    background: transparent;
    border: none;
  }

  a.navbar-item {
    &:hover {
      color: lighten(@navbarTextColor, 10%);

      &.has-dropdown {
      .navbar-link{
        &:after {
          border-color: whitesmoke;
        }
      }
    }
    }
    
  }

  .navbar-item:hover,
  .navbar-item:focus {
    .navbar-dropdown {
      display: block;
      opacity: 1;
      top: 90%;
      pointer-events: auto;
      transform: rotate3d(0,0,0,0deg);
    }
  }

  .navbar-link {
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 1rem 1rem;
    position: relative;

    &:hover {
      color: lighten(@navbarTextColor, 10%);
    }
  }

  .navbar-hamburger {
    position: relative;
    top: 0.25em;

    span {
      background-color: #2a94d6;
      display: block;
      width: 20px;
      height: 3px;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
      margin-bottom: 4px;
      overflow: hidden;
      opacity: 1;
      position: relative;
      top: 0px;
      transition: all .15s;

      &:first-child{
        width: 17px;
      }
      &:nth-child(2){
        width: 20px;
      }
      &:last-child{
          width: 12px;
      }
    }
  }
  .navbar-item.hamburger.expanded {
    .navbar-hamburger {
      span {
        &:first-child{
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
          top:5px;
          width: 20px;
        }
        &:nth-child(2){
          opacity: 0;
          width: 20px;
        }
        &:last-child{
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top:-9px;
            width: 20px;
        }
      }
    }
  }
  // Light 
  &.light {
    .navbar-item {
      color: white;

      &:hover {
        color: #e4e4e4;
      }

      &.has-dropdown {
        .navbar-link {
          color: white;
          &:after {
            border-color: white;
          }
        }
        .navbar-dropdown {
          .navbar-item {
            color: @navbarTextColor;
          }
        }
      }
    }
    .navbar-hamburger {
      span {
        background-color: white;
      }
    }
  }
}


.container .navbar {
  margin: 0 -1rem;
}

/* Responsive */

@media screen and (min-width: @navbarResposniveToggle) {
  .navbar {
    .navbar-menu-left {
      align-items: stretch;
      display: flex;
      justify-content: flex-start;
      margin-right: auto;
    }
  
    .navbar-menu-right {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin-left: auto;
      align-items: stretch;
      display: flex;
    }

    .navbar-item {
      .navbar-menu {
        align-items: stretch;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
      }

      &.has-dropdown {
        padding: 0;
        position: relative;
  
        &:hover {
          color: lighten(@navbarTextColor, 10%);
        }
  
        .navbar-dropdown  {
          .navbar-item {
            white-space: nowrap;
          }
        }
  
        .navbar-link {
          padding: 1rem 2.5rem 1rem 1rem;
  
          &:after {
            border: 2px solid;
            border-color: @navbarTextColor;
            border-right: 0;
            border-top: 0;
            content: " ";
            display: block;
            height: 0.35em;
            width: 0.35em;
            pointer-events: none;
            position: absolute;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            margin-top: -0.375em;
            right: 1.125em;
            top: 50%;
          }
        }
      }
    }
    .navbar-menu {
      width: 100%;
      display: flex;

      .navbar-dropdown {
        margin: 0;
        padding: 10px 0px;
        top: 100%;
        left: 0;
        font-size: inherit;
        position: absolute;
        background: #fff;
        opacity: 0;
        z-index: 100;
        min-width: 100%;
        max-width: 400px;
        pointer-events: none;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(26,53,71,.2), 0 0 0 1px rgba(10, 10, 10, 0.1);
        transition: all @dropdownSpeed ease;
    
        .navbar-item {
          padding: 0.3rem 1rem;
    
          &:hover {
            background-color: whitesmoke;
          }
        }
      }
    }
  }
}

@media screen and (max-width: @navbarResposniveToggle) {
  
  nav.navbar {
    display: block;
    position: relative;

    .navbar-menu{
      display: none;
    }
    .navbar-item {
      display: block;
      
      &.hamburger {
        display: flex;
      }
      
    }
    .navbar-dropdown {
      .navbar-item {
        padding: .5rem 1rem .5rem 2rem;
      }
    }

    &.expanded {
      .navbar-menu {
        display: block;
      }
    }

    &.light {
      .navbar-item {
        &.has-dropdown{
          .navbar-dropdown {
            .navbar-item {
              color: white;
            }
          }
        }
      }
      
    }
  }
}

@media screen and (min-width: @breakpoint-desktop) {
  // dropdown
  nav.nav {
    ul {
      li {
        ul {
          margin: 0;
          font-size: inherit;
          position: absolute;
          background: white;
          opacity: 0;
          z-index: 100;
          width: 100%;
          pointer-events: none;
          box-shadow: 0 1px 2px rgba(26,53,71,.2);
          transition: all .4s ease;
          top: 85%;

          &.visable {
            display: block;
            opacity: 1;
            top: 100%;
            pointer-events: auto;
          }

          li {
            display: block;

            a {
              color: @navBarLinkColor;
              padding: 1em;

              &:hover {
                color: darken(@navBarLinkColor, 10%);
              }
            }
          }
        }
      }
    }
  }
}